<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="assets_3/fp.css" />
</head>

<body>

    <!-- <%- include ('partials/nav') %>  -->
    <header>
        <%- include ('partials/nav') %>
        <h2 class='one'>Online Voting Platform</h1>
            <!-- <p class='two'>Admin:</p> -->
            <form class='three' method="POST" action="/forgotpassword">
                <label class='four' for="text">Email-Id</label><br>
                <input class='five' type="email" name="email" placeholder="@iitkgp.ac.in"/><br>
                <input class='six' type="submit" value="Send" />
            </form>
    </header>
</body>

</html>