<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="assets_5/managePositions.css" /> 
</head>

<body>
    <h1 class='one' >MANAGE POSITIONS</h1>
    <hr class='dotted' />
    <p ><a class="home"  href="Home1">Home</a></p>
    <div class='two' >
        <ul >
            <li ><a class='ab' href="managePositions">Manage Positions</a></li>
            <li ><a class='ab' href="manageCandidates">Manage Candidates</a></li>
            <li ><a class='ab' href="setTime">Set Election Timings</a></li>
            <li ><a class='ab' href="viewApplicants">View Applicants</a></li>
            <li ><a class='ab' href="notifyVoters">Notify Voters</a></li>
        </ul>
    </div>
    <div class='three' >
        <p style="color: red;transform: translateY(-20px);">ADD NEW POSITION</p>
        <form class='four'  method="POST" action="/managePositions">
            <label class='five' for="position">Position Name</label>
            <input class='six' type="text" name="position" />
            <input class='seven' type="submit" value="Add" />
        </form>
        <hr class='dotted2' />
        <p style="text-align: center;color: red;transform: translateY(-40px);">AVAILABLE POSITIONS</p>
    <table class="eight" >
        <tr >
            <th style="font-size: 20px;transform: translateX(40 px);">Id</th>
            <th style="font-size: 20px;transform: translateX(110 px);">Position Name</th>
            <th style="font-size: 20px;">Delete</th>
        </tr>
        <% if(record.length > 0) %>
        <% record.forEach(function(data,index){ %>
        <tr >
            <td style="font-size: 20px;"><%= index+1 %></td>
            <td style="font-size: 20px;"><%= data.name%></td>
            <td ><a class='del' href='delete/<%= data.name%>'>Delete</a></td> 
        </tr>
        <% }) %>
    </table>
    </div>
</body>

</html>

